<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.juzipi.hospital.mapper.HospitalSetMapper">
    <resultMap id="HospitalSet" type="com.juzipi.inter.model.pojo.HospitalSet">
        <id property="id" column="id"/>

        <result property="hpName" column="hp_name"/>
        <result property="hpCode" column="hp_code"/>
        <result property="apiUrl" column="api_url"/>
        <result property="signKey" column="sign_key"/>
        <result property="contactName" column="contact_name"/>
        <result property="contactPhone" column="contact_phone"/>
        <result property="status" column="status"/>

        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <sql id="queryHospitalTemplate">
        select * from hospital
    </sql>

    <insert id="addHospitalSet" parameterType="com.juzipi.inter.model.pojo.HospitalSet">
        insert into hospital_set(
            id,
--             这里加if下面不加的话会报错
            <if test="hpName != null and hpName != ''">hp_name,</if>
                    hp_code,
                    api_url,
                    sign_key,
                    contact_name,
                    contact_phone,
                    status,
                    create_time,
                    update_time,
                    deleted
        ) values (
            #{id},
            <if test="hpName != null and hpName != ''">#{hpName},</if>
                  #{hpCode},
                  #{apiUrl},
                  #{signKey},
                  #{contactName},
                  #{contactPhone},
                  #{status},
                  #{createTime},
                  #{updateTime},
                  #{deleted}
        )
    </insert>

    <update id="lockHospitalSet">
        update hospital_set
        <set>
            <if test="status != null">status = #{status}</if>
        </set>
        where id = #{id}
    </update>


</mapper>

